*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu_list {
    margin-top: 100px;
    text-align: center;
}
.list_item {
    display: inline-block;
    list-style: none;
}
.link {
    text-decoration: none;
    color: inherit;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    position: relative;
}
link::after {
    content: inherit;
    width: 0%;
    height: 4px;
}







