*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(180, 179, 179);
}
.menu_link{
    display: flex;
    justify-content: center;
    margin-top: 75px;
    list-style: none;
}
.link{
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    padding: 10px;
    position: relative;
}
.link:before{
    content: "";
    width: 0;
    height: 4px;
    background-color: rgb(141, 224, 230);
    position: absolute;
    bottom: 0;
    transition: all .75s;
}
.slider_left:before{
    left: 0;
}
.slider_right:before{
    right: 0;
}
.link:hover:before{
    width: 100%;
}







