*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(199, 196, 196);
    color: black;
    font-family: 'Roboto', sans-serif;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: repeat(4, auto);

}

.contenedor > div,
.contenedor .header, 
.contenedor .sidebar,
.contenedor .contenido,
.contenedor .footer {
    background-color: white;
    padding: 20px;
    border-radius: 4px;
}

.contenedor .header {
background-color: rgb(77, 77, 133);
color: white;
grid-column-start: 1;
grid-column-end: -1;
}

.header-ul{
    text-align: end;
}
.header-barra {
    display: inline-block;
    background-color: white;
    margin: auto;
    height: 3vh;
    border: solid 1px black;
    color: white;
}


.contenido-p {
    border: solid 2px black;
}
.contenido-h1 {
    border: solid 6px rgb(77, 77, 133);
    margin-bottom: 4%;
}

.contenedor .contenido {
    grid-column: span 2;
}

.contenedor .sidebar {
    grid-column: 3 / 4;
    text-align: center;
    grid-row: 2 / 4;
    min-height: 100px;

    /* Flex para acomodar los items */
    display: flex;
    align-items: center;
    justify-content: center;

}

.sidebar-imagen {
    width: 400px;
    height: 600px;
}

.contenedor .widget-1,
.contenedor .widget-2 {
    background-color: rgb(77, 77, 133);
    color: white;
    height: 100px;

    /* Flex para acomodar los items */
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor .widget-h3 {
    border: solid 3px black;
    width: 100%;
}

.contenedor .footer {
    background-color: rgb(77, 77, 133) ;
    color: white;
    grid-column: span 3;
    display: flex;
    align-items: flex-end;
    justify-content: end;

}
.footer__1{
    border: solid 1px white;
}
.footer__2{
    border: solid 1px white;
}

.footer__3{
    border: solid 1px white;
}


@media screen and (max-width: 768px) {
    .contenedor .contenido {
        grid-column: 1 / -1;
    }

    .contenedor .sidebar {
        grid-column: 1 / -1;
    }

    .contenedor .widget-1 {
        grid-column: span 2;
    }
}

.jjh3 {
    border: solid 1px white;
    display: flex;
    justify-content: center;
    
}
